main {
    width: 60%;
    height: 100vh;
    margin: auto;
    padding-top: 10%;
    font-family: arial;
    color: #5e5e5e
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    font-size: 1em;
}

ul {
    padding: 10px;
}

li {
    margin-left: 2em;
    font-size: 0.95em;
}

.two-col {
    display: flex;
    flex-flow: row nowrap;
}

.same-col {
    display: flex;
    flex-flow: column nowrap;
}


/* .same-col img {
    width: 100%;
}

.same-col img {
    width: 80%;
} */

img {
    padding: 10px;
    width: 45%;
    border-radius: 15px;
}

.highlight {
    background-color: whitesmoke;
    /* color: whitesmoke; */
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 1px 2px black;
}

.bold {
    font-weight: bold;
}

.center {
    margin: 0 auto;
}